@import "src/mixins";
@import "src/variables";

nav {
    float: right;
    width: $sidebar-width;
    color: rgb(220, 220, 220);
    @include border-box;
    background:$dark-background;
    font-family:Arial;
}

.sidebar-component {
    float:left;

    h3 {
        float:left;
        width:100%;
        color:$secondary-colour;
        margin-bottom:5px;
        font-size:14px;
        text-transform:uppercase;
        padding:0 15px;
        @include border-box;
    }
}

.sidebar-light {
    color:#E0E0E0;
}

.sidebar-dark {
    color:rgb(160, 160, 160);
}

.sidebar-selectable {
    cursor:pointer;

    &:hover {
        background-color:rgb(70, 70, 70);
    }
}
