@import "src/mixins";
@import "src/variables";

nav {
    float: right;
    width: 300px;
    background: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    @include border-box;
}

.sidebar-component {
    float:left;

    h3 {
        float:left;
        width:100%;
        color:$secondary-colour;
        margin-bottom:5px;
        font-size:14px;
        text-transform:uppercase;
        letter-spacing:1.3px;
        padding:0 15px;
        @include border-box;
    }
}
