@import "src/variables";
@import "src/mixins";

header {
    float:left;
    width:100%;
    height:$header-height;
    padding:$spacing;
    @include border-box;
    color:white;
    background:$dark-background;
    font-family:'San Francisco';
}
