@import "src/mixins";

div.article {
    float:left;
    width:100%;
    cursor:pointer;
    padding:15px;
    @include border-box;

    &:first-child {
        margin-top:0;
    }

    >div, >span {
        float:left;
        width:100%;
        margin-top:8px;

        &:first-child {
            margin-top:0;
        }

        &.title {
            font-size:18px;
        }

        &.excerpt {
            font-size:12px;
        }
    }

    div.authour-info {
        span {
            font-size:11px;

            &.name {
                float:right;
            }

            &.date {
                float:left;
                font-style:italic;
            }
        }
    }
}
