@import "src/variables";
@import "src/mixins";

div.social-media-buttons {
    float:right;

    .fa {
        float:left;
        margin-left:$spacing;
        cursor:pointer;
        @include border-radius(5px);
        padding:10px 0;
        font-size:1.4em;
        width:42px;
        text-align:center;
        cursor:pointer;

        &:hover {
            background:#ECECEC;
        }

        &.fa-twitter {
            color:$twitter-blue;
        }

        &.fa-linkedin {
            color:$linkedin-blue;
        }

        &.fa-github {
            color:black;
        }
    }
}
