@mixin border-box {
    box-sizing:border-box;
}

@mixin border-radius($radius) {
    border-radius:$radius;
}

@mixin vertical-centre($height) {
    line-height:$height;
    height:$height;
    vertical-align:middle;
    display:inline-block;
}

@mixin shadow() {
    box-shadow:0 2px 8px rgba(100, 100, 100, 0.4);
}

.hidden {
    display:none;
}
