@mixin border-box {
    box-sizing:border-box;
}

@mixin border-radius($radius) {
    border-radius:$radius;
}

@mixin vertical-centre($height) {
    line-height:$height;
    height:$height;
    vertical-align:middle;
    display:inline-block;
}
