$sidebar-width:400px;
$spacing:15px;
$header-height:68px;

$secondary-colour:#109BE3;
$twitter-blue:#55acee;
$linkedin-blue:#0077b5;
$google-plus-red:#d34836;
$facebook-blue:#3b5998;
$reddit-blue:rgb(103, 156, 199);
$hacker-news-orange:#ff6600;

$dark-background:#222933;
$dark-background-border:solid 1px lighten($dark-background, 10%);
