$sidebar-width:400px;
$spacing:15px;
$header-height:68px;

$secondary-colour:#109BE3;
$twitter-blue:#55acee;
$linkedin-blue:#0077b5;

$dark-background:#222933;
$dark-background-border:solid 1px lighten($dark-background, 10%);
